/*Variables*/
body {	
	--MajorElement: #8b5da4;
	--MajorElementTransparent: #c970aa;
	--MajorElementHover: #f3e4e9;

	--MinorElement: #fff;
	--MinorSubElement: #f4e5ea;

	--BlackTransparent: #fff3;

	--TextOnDark: #fff;
	--TextOnLight: #000;

	font-family: Arial, Helvetica, sans-serif;

	--PageShift: 10%;

	margin: 0;

	color: var(--TextOnDark);
}

/*TopBar*/
.TopBar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: fit-content;
	overflow: hidden;
	display: flex;
	background-color: var(--MajorElement);
	color: var(--TextOnDark);
}

.TopBar .Left {
	margin-left: 5%;
	margin-right: 20%;
}

.TopBar .Left, .TopBar .Center, .TopBar .Right {
	height: fit-content;
	overflow: hidden;
	display: flex;
}

.TopBar .Basic {
	color: inherit;
	margin: 5px;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	transition: 0.5s opacity;
}

.Basic:hover {
	background-color: var(--MajorElementHover);
	opacity: 0.9;
}

/*Page*/
body {
	background-color: var(--MinorSubElement);
}

.Page {
	margin: 48px var(--PageShift);
	width: 80%;
	height: fit-content;
	display: flex;
}

	/*Novel Base Info*/
	.Page .Informatron {
		margin-right: 20px;
		width: fit-content;
	}

	.Informatron img {
		border-radius: 5px;
	}

	/*Novel Content*/
	.Content .Title {
		margin-bottom: 10px;
		/*margin-left: 5px;*/
		color: var(--TextOnLight);
		font-family: sans-serif;
		font-size: 300%;
	}

	.Content .Body {
		min-width: 100%;
		height: fit-content;
		background: var(--MinorElement);
	}

		/*SectorBar*/
		.Body .SectorBar {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background: linear-gradient(
				to right, 
				var(--MajorElement), 
				var(--MajorElementTransparent)
			);
		}

		.SectorBar .Element {
			opacity: 0.8;
			transition: 100ms opacity;
		}

		.SectorBar .Active, .SectorBar .Element {
			margin: 0;
			padding: 15px;
			float: left;
		}

		.SectorBar .Element:hover, .SectorBar .Active {
			opacity: 1;
			background-color: var(--BlackTransparent);
		}

		/*Reader*/
		.Content .Reader {
			color: var(--TextOnLight);
			font-size: 100%;
		}

			/*#Info*/
			.Reader #Info {
				padding: 10px 15px;
			}

			/*Chapters*/
			.Reader ul {
				margin: 0;
				padding: 0;
			}

			.Reader .Part {
				padding: 15px 0;
				position: relative;
				z-index: 1;
				text-indent: 12px;
			}

			.Reader .Part::before {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				z-index: -1;
				transition: opacity 2000ms cubic-bezier(0.215, 0.61, 0.355, 1), width 0s linear 1200ms;
				background: linear-gradient(
					to right,
					#b8a7db99,
					#d6d1e299
				);
				width: 0;
				height: 100%;
				content: "";
			}

			.Reader .Part:hover::before {
				opacity: 1;
				transition: width 0.65s cubic-bezier(0.215, 0.61, 0.355, 1);
				width: 100%;
			}