.p-gnav {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.p-gnav__list {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.p-gnav__list-item {
  position: relative;
  z-index: 1;
  width: 100%;
}

.p-gnav__list-item::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 1.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0s linear 1.2s;
  transition: opacity 1.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0s linear 1.2s;
  background: #b9a8dc;
  width: 0;
  height: 100%;
  pointer-events: none;
  content: "";
}

.p-gnav__list-item.is-current::before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  width: 100%;
}

.p-gnav__list-item::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(214, 209, 226, 0)), to(#d6d1e2));
  background: linear-gradient(to right, rgba(214, 209, 226, 0) 0%, #d6d1e2 100%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  content: "";
}

.p-gnav__list-item.is-current::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

[data-ua="pc"] .p-gnav__list-item:hover::before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transition: width 0.65s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: width 0.65s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 100%;
}

[data-ua="pc"] .p-gnav__list-item:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transition: opacity 0.85s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.85s cubic-bezier(0.215, 0.61, 0.355, 1);
}
