<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="resources/css.css" rel="stylesheet">
	<!--<link rel="stylesheet" href="resources/font-awesome-4.7.0/css/font-awesome.min.css">-->

	<title>Alone World Project</title>
</head>
<body>
	<!--<div class="sidebar" id="c1" style="z-index: 3;">
		Параметры
	</div>-->

	<div class="topbar" id="topbar">
			<div class="topbar__center">
			<a class="topbar__inactive-link fa fa-caret-left"></a>
			<a class="topbar__basic" href="index.html">Alone World Project – Главная страница</a>
			<a class="topbar__inactive-link fa fa-caret-right"></a>
		</div>
		<!--<a class="topbar__basic topbar__left" href="index.html">
			Alone World Project – Главная страница
		</a>
		<div class="topbar__center">
			<a class="topbar__inactive-link fa fa-caret-left"></a>
			<a class="topbar__basic">Содержание</a>
			<a class="topbar__inactive-link fa fa-caret-right"></a>
		</div>
		<div class="topbar__right">
			<div class="topbar__basic">
				<i class="fa fa-cogs" style="font-size: 18px;" onclick="onSidebarCall('c0')"></i>
			</div>
		</div>-->
	</div>

	<div class="page__reader">
		<div class="reader-text">
			
		</div>
	</div>

	<script src="resources/reader.js"></script>
</body>
</html>