body {
	--base-elelment: #1c1c1e;
	--bg-color: #141414;
	--base-hover-element: #474747;
	--inactive-text: #adadad;
	--base-text: #dddddd;
	--base-hover-text: #ffffff;

	background-color: var(--bg-color);
}

/*Chapter Only*/
	.TextContent {
		margin-left: 17.5%;	
		margin-right: 17.5%;
	}

	.TextContent p {
		font-size: 14px;
		text-indent: 14px;
		color: var(--base-text);
	}

	.TextContent .Scene {
		font-size: 16px;
	}

	/*TopBar*/
		.TopBar {
			left: 0;
			top: 0;
			width: 100%;
			height: fit-content;
			display: flex;
			align-items: center;
			position: fixed;
			background-color: var(--base-elelment);
			transition: opacity 0.2s;
		}

		.TopBar .Element, .TopBar .Empty, .TopBar .MainPage {
			color: var(--base-text);
			font-size: 16px;
			padding: 15px 10px 15px 10px;
			display: inline-block;
			text-decoration: none;
			font-family: "Segoe UI";
		}

		.TopBar .Empty {
			color: var(--inactive-text);
		}

		.TopBar .Element:hover, .TopBar .MainPage:hover {
			color: var(--base-hover-text);
			background-color: var(--base-hover-element);
		}

		.TopBar .MainPage {
			margin-left: 10%;
			margin-right: 5%;
		}

/*Button to the top*/
	.UpButton {
		transition: opacity 0.5s;
		bottom: 30px;
		right: 60px;
		cursor: pointer;
		position: fixed;
		opacity: 0;
	}

/*MainPage Body*/
	.Paper {
		width: auto;
		margin-top: 40px;
		margin-left: 10%;
		margin-right: 5%;
	}

	.Paper .Article {
		font-size: 56px;
		color: var(--base-hover-text);
		margin-bottom: 10px;
	}

	/*PaperBar*/
		.Paper .PaperBar {
			display: inline-block;
			position: relative;
			list-style: none;
		}

		.PaperBar a {
			font-size: 20px;
			color: var(--base-text);
			padding-left: 10px;
			padding-right: 10px;
		}

		.PaperBar a:hover {
			text-decoration: none;
			color: var(--base-hover-text);
			transition: .5s color;
		}

	/*Main Body*/
		.Paper .BaseBox {
			opacity: 0.9;
			border-radius: 10px 10px;
			background-color: var(--base-elelment);
			padding: 10px;
		}

		/*Base Info Classes*/
			.BaseBox .BaseInfo {
				display: block;
				height: fit-content;
				padding-left: 10px;
				padding-right: 10px;
				font-size: 16px;
				color: var(--base-text);
			}

			.BlockName {
				font-size: 20px;
			}

			.BaseBox .BaseInfo p {
				line-height: 1.2;
			}

		/*Chapter Info Classes*/
			.BaseBox .ChapterInfo {
				margin-top: 18px;
				align-items: center;
				display: none;
			}

			.ChapterInfo p {
				height: fit-content;
				padding-left: 10px;
				padding-right: 10px;
				color: var(--base-text);
				text-decoration: none;
			}

			.ChapterInfo a {
				text-decoration: none;
				color: inherit;
			}

			.ChapterInfo .Act {
				font-size: 20px;
			}

			.ChapterInfo .Chapter {
				font-size: 16px; 
				text-indent: 40px;
			}

			.ChapterInfo .Chapter:hover {
				color: var(--base-hover-text);
			}

/*Mobile*/

@media only screen and (max-width: 1000px) {
	.PageNavigate {
		display: none;
	}

	.TextContent {
		margin-left: 2.5%;
		margin-right: 2.5%;	
	}

	.TopBar .MainPage {
		margin-left: 0;
		margin-right: 0;
		text-align: center;
		width: 100%;
	}
}